script(src='/formThread.js', defer)
script(src='/show-dialog.js', defer)
.board
    h2 Rules: #{board.rules}

    each thread in threads
      .thread
        h4= thread.title
        if thread.image
          img(src=`/posts/${thread.image}`, alt=`${thread.image}`, class="board-image")
        p= thread.message

    button(type='button',class='btn btn-large' ,id='show-create-thread-form') Create a new Thread
    dialog(class='create-thread dialog')
        form(method='POST', action=`/threads/createThread/${tag}`,enctype="multipart/form-data")
            ul
                li
                    label(for='create-thread-title') Title
                    input(type='text', name='title', id='create-thread-title')
                li
                    label(for='create-thread-content') Content
                    textarea(name='message', id='create-thread-content', rows="10")
                li
                    label(for='create-thread-images') Images
                    input(type='file', name='post', id='create-thread-images', accept='image/*')
            button(type='submit', class='btn') Submit


    .pages
        a(href="") [1]
        a(href="") [2]
        a(href="") [3]
        a(href="") [4]
        a(href="") [5]
        a(href="") [6]
